.sections-nav {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #d3d3d3;
}

.sections-nav ul {
  display: flex;
  padding: 10px 0;
}

.sections-nav li {
    margin: 0 10px;
    cursor: pointer;
    font-family: $sans-serif;
}

.sections-nav li:hover:not(:last-child) {
  background-color: $light-gray;
}

.sections-nav a {
  font-size: 10px;
  text-transform: uppercase;
}
