/* PHASE 5: Cats */


.content-header {
  height: 200px;
  background-image: url('../images/cats.jpg');
  background-color: #ccc;
  width: 100%;
  background-size: cover;
  position: relative;
  border-bottom: 1px solid #ccc;
}

.content-header > h1 {
  position: absolute;
  color: #fff;
  font-size: 36px;
  font-weight: 300;
  bottom: 20px;
  left: 240px;
  text-shadow: #000 0 0 10px;
  line-height: 1;
}

.content-header > button {
  position: absolute;
  font-size: 16px;
  font-weight: 700;
  background: #fff;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #000;
  bottom: 20px;
  right: 20px;
}

.content-header > button:hover {
  background: #eee;
}
